@import './styles/colors.scss';

html, body {
  @extend .bg-main;
  margin: 0;
  font-family: 'CircularStd';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}